script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.min.js')