@media (max-width: 480px) {
	.media .pull-left, .media .pull-right {
  		float: left !important; /* none */
	}
	h6 {
		font-size: 9px; /* 11.9px */
	}
	h5 {
		font-size: 12px; /* 14px */
	}
	.profile_header_label {
		padding: 2px 2px !important;
	}
	.actionlinks h6 {
		font-size: 12px !important;
	}
	.media_label {
		white-space: normal !important;
	}
}

html, 
body {
	height: 100%;
	font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
	background: white url(/img/bg.gif) repeat top center;
}
a {
	color: #c2575b;
	text-decoration: none;

	-webkit-transition: 0.15s color ease;
	   -moz-transition: 0.15s color ease;
	    -ms-transition: 0.15s color ease;
	     -o-transition: 0.15s color ease;
	        transition: 0.15s color ease;
}
	a:hover {
		color: #f76f76;
	}

h1, 
h2,
h3 {
	margin-top: 20px;
	font-size: 24px;
}
.navbar-fixed-top {
	margin-bottom: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
}
.meny {
	display: none;
	padding: 20px;
	overflow: auto;
	background: #333;
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			display: inline-block;
			width: 200px;
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: rgba( 255, 255, 255, 0.2 );
			}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s; 
	   -moz-transition: opacity 0.4s ease 0.4s; 
	    -ms-transition: opacity 0.4s ease 0.4s; 
	     -o-transition: opacity 0.4s ease 0.4s; 
	        transition: opacity 0.4s ease 0.4s;
}
	.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #333;
	}
	.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #333;
	}
	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #333;
	}
	.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #333;
	}
	.meny-active .meny-arrow {
		opacity: 0;

		-webkit-transition: opacity 0.2s ease; 
		   -moz-transition: opacity 0.2s ease; 
		    -ms-transition: opacity 0.2s ease; 
		     -o-transition: opacity 0.2s ease; 
		        transition: opacity 0.2s ease;
	}

/**
 * Main contents area
 */
.favcontents {
	/*background: #eee;*/
	padding: 20px 40px;
	width: 100%;
	margin-top: 40px;

	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.favcontents>article {
		max-width: 400px;
	}
	.favcontents p {
		margin: 10px 0 10px 0;
		font-size: 16px;
		line-height: 1.32;
	}
	.favcontents small {
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		color: #333;
		font-size: 0.85em;
		border-top: 1px dashed #ccc;

		-webkit-text-size-adjust: none;
	}

.el_item {
	margin-bottom: 10px;
	padding: 15px 10px;
	background: url(/img/inset-bg.png) top left repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 2px #afa89c;
	-webkit-box-shadow: 0 1px 0 white, inset 0 1px 2px #AFA89C;
	box-shadow: 0 1px 0 white, inset 0 1px 2px #AFA89C;
}
.profile_header_label {
	display: inline-block;
	padding: 2px 4px;
	white-space: nowrap;
	vertical-align: baseline;
	color: #857C77;
}
.media_label {
	display: inline-block;
	padding: 2px 4px;
	white-space: nowrap;
	vertical-align: baseline;
	color: #857C77;
}
.text {
	text-align: center;
}
.extended-media {
	margin-top: 10px;
	margin-bottom: 5px;
	height: auto;
	border-top: 1px solid #DCD3BC;
	border-bottom: 1px solid #DCD3BC;
}
.embeded {
	margin: 0 auto;
	padding-top: 10px;
}
.embeded_closed {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
.embeded_opened {
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
.media_desc {
	text-align: center;
}
.text_data {
	color: #22262F;
}
.welcome {
	margin-top: 10%;
	padding-bottom: 10px;
	text-align: center;
	background: url(/img/divide-lg.png) bottom center no-repeat;
}
.search_box,
.loading {
	text-align: center
}

.actionlinks {
	display: inline-block;
	padding: 2px 4px;
	white-space: nowrap;
	vertical-align: baseline;
}
.actionlinks_container {
	height: 18px;
	padding-top: 2px;
	padding-bottom: 5px;
}
.media-object {
	width: 48px;
	height: 48px;
}
iframe {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);	
}
