extends ../layout

block content
  div.content
    div.meny
      include categories
    div.meny-arrow
    div.favcontents
      div.container
        block fav_items
          div.well(style='margin-top: 5%')
            include list

block append scripts
  script(src='js/meny.min.js')
  script(src='js/controller.js')
  script(src='js/jquery.freetile.min.js')