extends ../layout

block content
  div.container(ng-controller='favListCtrl')
    div.row
      div.span12.search_box
        form.form-search(name='search_form')
          input.search-query(type='search', name='searchTerm', ng-model='query', placeholder='Search')
    div.row
      div.span12
        div.loading: h3 Loading...
        include list

block append scripts
  script(src='js/meny.min.js')
  script(src='js/controller.js')
  script(src='js/services.js')